$color:(
"azul":darkblue,
"black":black,

);
$fuentes:(
    "normal":verdana,
    "titulo":helvetica,

);
$border:true;
$size:300px ;

    
body{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}

.titulo{
    text-align: center;   
    font-family: map-get($fuentes , titulo )   
}
.imagen{
 width: $size;
 height: $size;
 border: 5px solid;
 @if $border == true{
    border-radius: $size / 10;

 }
}
    
.servicios{
    padding: 20px;
    
}
.first-section{
    &__texto{
    padding: 10px;
    font-size: 30px;
    font-weight: 150px;
    font-family: map-get($fuentes , titulo );
    
    
    }
    &__texto--parrafo{
        font-size: 20px;
        font-weight: 150;
        font-family:map-get($fuentes , normal )
    }

}

