body{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

h1 {
    text-align:center;
    font-size:larger;
}
h2{
    text-align:center;
    margin-right: 5%;
    margin-left: 5%;
 
}
.parrafo{
    margin-right: 3%;
    margin-left:3% ;
    font-size: 20px;
}

.title-productos{
    padding:20px ;
}

.box-1 {
    width: 400px;
    height: 300px;  
}

ul li{
    list-style: none;
}

.caramelos{
    width: 200px;
    height:200px ;
    display: grid;
    grid-template-columns: repeat(
        auto-fit
        minmax(
            150px
            1fr
        )
    )
    gap 16px
}

.form{
    background-color: #fff;
    margin: auto;
    width:90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}
.form_container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;

}
.form_tittle{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4rem;
}


