h1 {
    text-align:center;
    font-size:larger;
}
h2{
    text-align:center;
    margin-right: 5%;
    margin-left: 5%;
 
}
.parrafo{
    margin-right: 3%;
    margin-left:3% ;
}

.box-1 {
    width: 400px;
    height: 300px;  
}
ul li{
    list-style: none;
}
.caramelos{
    width: 200px;
    height:200px ;
    display: grid;
    grid-template-columns: repeat(
        auto-fit
        minmax(
            150px
            1fr
        )
    )
    gap 16px
}

